* {
  /* border: 1px solid hotpink;
  background-color: #39487f; */
}

#title {
  padding-top: 5%;
}

#login, #register {
  padding-top: 5%;
  padding-bottom: 3%;
}

#beer-jumbotron, #football-jumbotron, #smack-jumbotron {
  text-align: center;
  justify-content: center;
  /* background-color: white; */
}

#smackDizzy {
  width: 8em;
  height: 10em;
}
#mugHome, #footballSpinner, #smackDizzy {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
/* }

#mugHome:hover { */
  cursor: pointer;
  animation: 5s linear 0s infinite spin
 }
@keyframes spin {
  from {transform: rotate(0deg);}
  to   {transform: rotate(360deg);}
}

li {
	list-style: none;
  top: 0;
}

.postButton {
  width: 14em;
  height: 6em;
}

#football-button, #smack-button, #beer-button {
  margin: 2%;
}

#smackMouthButtonPic {
  width: 3em;
  height: 4em;
}

#footer {
  height: 60px;
  background-color: black;
  color: #f2a41f;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  position: sticky;
}
