<section ng-controller="FlabController as flab">
<section ng-controller="BeerDBController as beerCtrl">
  <section ng-controller="BeersController as beer">
<body data-spy="scroll" data-target="#beer-example">
  <div class="container mt-3 mb-3 pb-3 pt-3" id="beer-container">
    <div class="jumbotron mt-3 pt-3 text-center text-light" id="beer-jumbotron">
      <h1 id="fontB" class="pt-2">"Anyone can drink beer, but it takes intelligence to enjoy beer." <br>-Stephen Beaumont</h1>
      <h2 id="fontB" class="pt-2">Which beers are worthy of mention??</h2>
      <hr>

      <!-- visitor alert to prompt user to login to have access to smack section -->
      <div class="alert alert-dismissible fade show w-75 mx-auto"  role="alert" ng-if=!user.loggedIn id="beer-alert">
        <div class="alert-heading">
          <h4 class="alert-title text-white pt-2 text-left" id="fontB">Beer Activists | Support Your Local Brewery
          <button type="button" class="close d-inline" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></h4>
        </div>
        <hr>
          <p id="fontB" class="text-white">Log in to join the chat about craft beers that must be savored & discovered by all!</p>
      </div>

      <!-- Add Beer Post Button -->
      <div id="newitem-form" class="col-lg-12" ng-if=user.loggedIn>
        <button class="btn mb-3 text-light" style="background-color:#A60A32" id="fontB" type="submit" ng-click="beer.toggleNew(); beer.addForm.reset()">Add Beer Post</button>

        <button class="btn mb-3 text-light" data-toggle="collapse" href="#seeBeerPosts" style="background-color:#A60A32" id="fontB">See Beer Posts</button>
      </div>

      <!-- Add New Beer Post Form -->
        <div ng-if="beer.newDisplay">
          <div class="container text-center" id="fontB">
            <h3 class="text-white">Ready to stake a claim about your fave team, player, &/or coach?<br>Share your take on how football doesn’t build character, it eliminates the weak ones!</h3>
                <div class="row">
                  <div class="col jumbotron" id="newBeerPost">


      <h5 ng-click="beerCtrl.beers = [];flab.openBeerSearch()" id="fontB">Find Beer</h5>

  <!-- beer page -->
  <div ng-controller="BeerDisplayController as displayCtrl">

    <!-- beer search form -->
    <div ng-show="displayCtrl.showSearchForm" class="beer-show-page">
      <div class="brewery-search beer-form">
         <h3>Search For A Beer</h3>
         <form ng-submit="beerCtrl.findBeer()">
            <input type="text" ng-model="beerCtrl.searchForBeer" placeholder="Beer name"> or <br>
            <input type="text" ng-model="beerCtrl.searchByBrewery" placeholder="Brewery Name"><br>

            <input ng-click="" type="submit" name="search" value="Find Beer">
            <button ng-click="beerCtrl.clearSearchForm()">Clear Search</button>
         </form>
      </div>

      <div ng-show="beerCtrl.foundNoBeers">
        We didn't find any beers matching your beer name.
      </div>

      <ul>
        <li class="beer-list" ng-repeat="beer in beerCtrl.beers">
          <p  ng-click="displayCtrl.showDetails(beerCtrl, beer)">{{beer.name}}</p>

        </li>
      </ul>
    </div>

    <!-- beer details form -->
    <div class="full-page">

      <div class="beer-stats" ng-show="displayCtrl.showDetailsForm">
         <h3>{{beerCtrl.selectedBeer.name}} - {{beerCtrl.selectedBeer.style}}</h3>
         <h4 class="to-brewery" ng-click="beerCtrl.beers = [];breweryCtrl.getBreweryByName(beerCtrl.selectedBeer.brewery, breweryCtrl, main)">  Brewery: {{beerCtrl.selectedBeer.brewery}}</h4><br>
         ABV: {{beerCtrl.selectedBeer.abv}}<br>
         IBU: {{beerCtrl.selectedBeer.ibu}}<br>
         {{beerCtrl.selectedBeer.description}}
         <button ng-show="displayCtrl.showAddFavButton" ng-click="beerCtrl.saveFavoriteBeer()">Add To Favorites</button>
         <button ng-click="displayCtrl.backToSearchForm()">Back To Search</button>
      </div>
    </div>
  </div>  <!-- BeerDisplayController -->

  </div></div></div></div>

          </div>  <!-- beer-jumbotron -->
        </div>
      </body>
    </section>
  </section>
</section>
