<div ng-controller="BeersController as beer">

  <div class="container" id="beer-container">
    <div class="row">

      <div class="jumbotron" id="beer-jumbotron">
        <img id="mugHome" src="assets/beer-mug-silhouette-144-278747.png" alt="FLAB"><br>
        <h1>Wanna Talk Beer?</h1>
        <!-- come up w/a better byline.. sheez.. you're more creative than this: -->
        <h2>What's worth an open tab?</h2><br>

        <!-- {{beer.suds}} -->

        <!-- Add Beer Post Button -->
        <div id="newitem-form" class="col-lg-12">
          <button class="btn btn-warning" type="submit" ng-click="beer.toggleNew(); beer.addForm.reset()">Add Beer Post</button>
        </div>
      <!-- </div> -->


<br><br>
      <!-- Add New Beer Post Form -->
      <div ng-if="beer.newDisplay">

        <form ng-submit="beer.createBeerPost()">

          <h5>Name of Beer:</h5><input type="text" ng-model="beer.name" placeholder="Beer Name"/><br>

          <h5>Was it a Pale Ale, Saison, Stout, Porter, Wheat, Amber, Wheat, IPA??</h5>
          <input type="text" ng-model="beer.type" placeholder="Type"/><br>

          <h5>Was it made of sugar and spice?</h5>
          <input type="text" ng-model="beer.ingredients" placeholder="Ingredients"/><br>

          <h5>Alcohol content:</h5>
          <input type="text" ng-model="beer.abv" placeholder="Alcohol Content"/><br>

          <h5>How Bitter?</h5>
          <input type="text" ng-model="beer.ibu" placeholder="IBU"/><br>

          <h5>What Brewery Makes It?</h5>
          <input type="text" ng-model="beer.brewery" placeholder="Brewery"/><br>

          <h5>Where'd You Buy It?</h5>
          <input type="text" ng-model="beer.purchaseLocation" placeholder="Purchase Location"/><br>

          <h5>How'd you rate it? (1: puke, 5: 7th heaven)</h5>
          <input type="text" ng-model="beer.userRating" placeholder="Beer Rating"/><br>
          <br>

          <input class="btn btn-warning" type="submit" value="Post">

        </form>

       </div> <!-- end new display -->

    </div>   <!-- end beer-jumbotron -->
</div> <!-- end row -->
    <!-- Beer Modal -->
    <div ng-if="beer.modal" id="beerModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" ng-click="beer.toggleModal()"class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h3 class="modal-title">{{beer.currentBeerPost.name}} Post</h3>
          </div> <!-- end modal-header -->

          <div class="modal-body">
            <h3 class="modal-title">{{beer.currentBeerPost.name}} Post</h3>

            <div id="beerPostInfo">
              <ul ng-click="beer.toggleModal()">
                  <!-- is having the name again here redundant? -->
                  <li><strong> Beer: </strong>{{beer.currentBeerPost.name}}</li>
                  <li><strong> Style: </strong>{{beer.currentBeerPost.type}}</li>
                  <li><strong> Ingredients </strong>{{beer.currentBeerPost.ingredients}}</li>
                  <li><strong> ABV: </strong>{{beer.currentBeerPost.abv}}</li>
                  <li><strong> IBU: </strong>{{beer.currentBeerPost.ibu}}</li>
                  <li><strong> Original Brewery: </strong>{{beer.currentBeerPost.brewery}}</li>
                  <li><strong> Purchase Location: </strong>{{beer.currentBeerPost.purchaseLocation}}</li>
                  <li><strong> Rating: </strong>{{beer.currentBeerPost.userRating}}</li>

                  <!-- update this when user model is fleshed out: -->
                  <!-- <li><strong> Posted by: </strong>{{beer.currentBeerPost.author}}</li> -->

              </ul>
            </div>
            <!-- Tabs -->
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link-active" href="#beerComment" data-toggle="tab" role="tab">Comments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#beerEdit" data-toggle="tab" role="tab">Edit</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <!-- Tab 1 Content -->
                  <div class="tab-pane fade in show active" id="beerComment" role="tabpanel">
                    <!-- add beerComment form -->
                    <!-- user will have ability to post comments as reply to beer posts here -->
                  </div>

                  <!-- Tab 2 Content -->
                  <div class="tab-pane fade" id="beerEdit" role="tabpanel">
                  <!-- Edit Form -->
                  <h2>Wanna Update Your Post?</h2>

                    <form id="beerForm" ng-submit="beer.updateBeerPost(beer.currentBeerPost._id)" ng-click="beer.addForm.reset()">

                      <input type="text" placeholder="{{beer.currentBeerPost.name}}" ng-model="beer.editedBeerPost.name">

                      <input type="text" placeholder="{{beer.currentBeerPost.type}}" ng-model="beer.editedBeerPost.type">

                      <input type="text" placeholder="{{beer.currentBeerPost.ingredients}}" ng-model="beer.editedBeerPost.ingredients">

                      <input type="text" placeholder="{{beer.currentBeerPost.abv}}" ng-model="beer.editedBeerPost.abv">

                      <input type="text" placeholder="{{beer.currentBeerPost.ibu}}" ng-model="beer.editedBeerPost.ibu">

                      <input type="text" placeholder="{{beer.currentBeerPost.purchaseLocation}}" ng-model="beer.editedBeerPost.purchaseLocation">

                      <input type="text" placeholder="{{beer.currentBeerPost.userRating}}" ng-model="beer.editedBeerPost.userRating">

                    </form>


                  <button class="btn btn-warning" ng-click="beer.deleteBeerPost(beer.currentBeerPost._id)">Remove Post</button>
          </div> <!-- end tab two -->

          </div>  <!-- end tab content -->

        </div>  <!-- end modal body -->
      </div>
    </div>
  </div>   <!-- end beerModal -->


  <!-- All Beer Posts -->
  <div class="row" id="display">
    <ul id="beer-list">
      <li ng-repeat="beerPost in beer.allBeerPosts" ng-click="beer.setCurrentBeerPost(beerPost._id)">
        <div class="col-md-4" id="beer-item">
          <button class="btn btn-warning" id="beer-button" ng-click="beer.toggleModal()">
          <img src="./assets/beer-mug-silhouette-24-278747.png" alt="FLAB"><br>{{beerPost.name}}</button>

          <!-- add comment glyphicon when functionality is fleshed out -->
        </div>

      </li>

    </ul>

  </div>


</div>  <!-- end beer-container -->

</div>  <!-- end beerController -->
