<div ng-controller="BeersController as beer">

  <div class="container" id="beer-container">
    <div class="row">

      <div class="jumbotron" id="beer-jumbotron">
        <img id="mugHome" src="assets/beer-mug-silhouette-144-278747.png" alt="FLAB"><br>
        <h1>Wanna Talk Beer?</h1>
        <!-- come up w/a better byline.. sheez.. you're more creative than this: -->
        <h2>What's worth an open tab?</h2><br>

        <!-- {{beer.suds}} -->

        <!-- Add Beer Post Button -->
        <div id="newitem-form" class="col-lg-12">
          <button class="btn btn-warning" type="submit" ng-click="beer.getBeer(); ">Get Beers</button>
        </div>

<br><br>
<div class="row" id="display">
  <ul id="beer-list">
    <!-- took this out right after .allBeerPosts on the following line: | filter:searchBox" ng-init="limit = 28" -->
    <li ng-repeat="beer in beer.allBeers"  ng-click="beer.postBeer(beer._id)">
      <div class="col-md-4" id="beer-item">
        <button class="btn btn-warning postButton" id="beer-button" ng-click="beer.toggleModal()">
        <img src="./assets/beer-mug-silhouette-24-278747.png" alt="FLAB"><br>{{beer.name}}</button>

        <!-- add comment glyphicon when functionality is fleshed out -->
      </div>

    </li>

  </ul>

</div>
  </div>

<br><br>

</div>
</div>  <!-- end beer-container -->

</div>  <!-- end beerController -->
