<section ng-controller="FlabbieController as flabbie">
<body data-spy="scroll" data-target="#navbar-example">
  <div class="container mt-3 mb-3 pb-3 pt-3" id="flabbie-container">
      <div class="jumbotron mt-3 pt-3 text-center" id="flabbie-jumbotron">

        <h1 id="fontB" class="pt-3">FLABies</h1>

        <h2 id="fontB" class="pb-3">The Ultimate Tribe of Humanity</h2>
        <!-- {{flabbie.hasBestPicks}} -->

        <div class="alert alert-dismissible fade show w-75 mx-auto" role="alert" ng-if=!user.loggedIn style="background-color:#FFC145" id="fontB">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Holy porkrind!</strong> You should check out the bacon on FLABie members by logging in!
        </div>

        <!-- Create User Profile Button -->
        <div id="newitem-form" class="col-lg-12" ng-if=user.loggedIn>
          <button class="btn mb-3" style="background-color:#FFC145" type="submit" ng-click="flabbie.toggleNew(); flabbie.addForm.reset()" id="fontB">Create FLABie Profile</button>

          <button class="btn mb-3" data-toggle="collapse" href="#seeFlabies" style="background-color:#FFC145" id="fontB">See FLABie Tribe</button>
        </div>

        <!-- Create User Profile Form -->
        <div ng-if="flabbie.newDisplay">
            <div class="container text-center" id="fontB">
              <h3 class="text-center">Already have a User Login? Great!<br> You're Ready to Create a FLABie Profile!</h3>
                  <div class="row">
                    <div class="col jumbotron" id="newFlabbieProfile">
                          <form ng-submit="flabbie.createFlabbieProfile()" class="pb-3">
                            <small id="emailHelp" class="form-text text-white mx-auto">We'll never share your email with anyone else.
                            </small>
                            <div class="form-group row pt-3">
                                <label for="email" class="col-sm-2 col-form-label text-white">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" ng-model="flabbie.email" class="form-control" id="email" placeholder="FLABie Email">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="image" class="col-sm-2 col-form-label text-white">Image</label>
                                <div class="col-sm-10">
                                  <input type="text" ng-model="flabbie.image" class="form-control" id="image" placeholder="FLABie Profile Picture">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="team" class="col-sm-2 col-form-label text-white">Fave Team(s)</label>
                                <div class="col-sm-10">
                                  <input type="text" ng-model="flabbie.favoriteTeams" class="form-control" id="team" placeholder="Favorite Team(s)">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="fbeer" class="col-sm-2 col-form-label text-white">Fave Beer(s)</label>
                                <div class="col-sm-10">
                                  <input type="text" ng-model="flabbie.favoriteBeers" class="form-control" id="fbeer" placeholder="Favorite Beer(s)">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="message" class="col-sm-2 col-form-label text-white">Bio</label>
                                <div class="col-sm-10">
                                  <textarea ng-model="flabbie.bio" id="message" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
<hr>
                            <input class="btn" style="background-color:#FFC145" type="submit" value="Create Profile">
                          </form>
<!-- <hr> -->
<!-- add small quote div where random quotes on a specific topic (like domination or something snarky like that) are displayed w/animation/transition -->

                  </div> <!-- col-lg-8 jumbotron -->
              </div> <!-- row -->
          </div> <!-- container -->
        </div> <!-- end new display -->

        <!-- make this a jumbotron which shows cards w/limited profile info of all Flabbies which can expand for each Flabie when they are clicked on -->
        <div class="collapse" id="seeFlabies">

                <div class="row" id="fontB">
                  <div class="col jumbotron" id="allFlabies">
                    <h2 class="navbar sticky-top text-white" >The FLABie Tribe
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchBox">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                    </form></h2>
                    <hr>
                    <h5 class="text-white">
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </h5>
<hr>
                        <!-- All FLABie Profiles -->
                        <div class="row bg-light pt-4 mr-2 ml-2 mb-3" id="display">
                          <div id="navbar-example">
                            <div class="container" id="fix">
                              <div class="col">
                                <ul id="flabieCard">
                                    <li ng-repeat="flabbieProfile in flabbie.allFlabbieProfiles | filter:searchBox" ng-init="limit = 10" ng-click="flabbie.setCurrentFlabbieProfile(flabbieProfile._id)">
                                      <div class="card w-100">
                                        <h4 class="card-header text-center text-white" style="background-color:#9E1B32;">{{flabbieProfile.author}}</h4>
                                        <img class="card-img-top img-fluid" ng-src="{{flabbieProfile.image}}">
                                        <div class="card-footer" style="background-color:#9E1B32">
                                              <button type="button" class="btn mt-3 mb-3" data-toggle="modal" data-target="#seeAllOfFlabieProfile" style="background-color:#FFC145" id="fontB">
                                                More About This FLABie</button>
                                        </div> <!-- card-footer -->
                                      </div> <!-- card w-100 -->
                                    </li><br>
                                  </ul>
                                </div> <!-- col -->
                                <div class="modal fade" id="seeAllOfFlabieProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header pb-0">
                                    <h5 class="modal-title" id="exampleModalLongTitle">
                                      <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                          <li class="nav-item"><a class="nav-link active text-dark" id="flabieProfile-home-tab" data-toggle="tab" href="#flabieProfileTabHome" role="tab" aria-controls="flabieProfileTabHome" aria-selected="true">Profile</a></li>

                                          <li class="nav-item"><a class="nav-link text-danger" id="flabieProfile-comment-tab" data-toggle="tab" href="#flabieComment" role="tab" aria-controls="flabieComment">Comment(s)</a></li>

                                          <li id="flabItem" class="nav-item"><a class="nav-link text-danger" id="flabieProfile-update-tab" data-toggle="tab" href="#flabbieEdit" role="tab" aria-controls="flabbieEdit">Update Profile</a></li>
                                      </ul></h5>
                                  </div>

                                  <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="flabieProfileTabHome" role="tabpanel" aria-labelledby="flabieProfile-home-tab">
                                    <h5 class="modal-title pt-3">FLABie: {{flabbie.currentFlabbieProfile.author}}</h5>
                                    <div class="modal-body">
                                      <ul>
                                        <li> <strong>FLABie Bio: </strong>  {{flabbie.currentFlabbieProfile.bio}}<br></li>
                                        <li> <strong>FLABie's Fave Team(s): </strong>  {{flabbie.currentFlabbieProfile.favoriteTeams}}<br></li>
                                        <li> <strong>FLABie Fave Beer(s): </strong>  {{flabbie.currentFlabbieProfile.favoriteBeers}}<br></li>
                                      </ul>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn text-white" style="background-color: #9E1B32" id="fontB" data-dismiss="modal">Close</button>
                                    </div>
                                </div> <!-- tab-pane fade show active -->

                                <div class="tab-pane fade" id="flabieComment" role="tabpanel" aria-labelledby="flabieProfile-comment-tab">
                                    <h5 class="modal-title pt-3">FLABie: {{flabbie.currentFlabbieProfile.author}}</h5>
                                    <div class="modal-body">
                                      <ul id="comment-list">
                                        <li ng-repeat="comments in flabbie.currentFlabbieProfile.comments track by $index">
                                          <div id="comment-item">
                                            <p>{{comments}}</p>
                                            <!-- interesting... lots of data returns - maybe look at this when addressing adding author to comment... trying to remember how to render new data to page immediately...
                                            <p>{{flabbie.allFlabbieComments}}</p> -->

                                              <!-- add who authored the comment: -->
                                              <!-- ...need to troubleshoot this:-->
                                              <!-- <p>Comment from: {{flabbie.author.comments}}</p>  -->
                                          </div>  <!-- comment-item -->
                                        </li>
                                      </ul>

                  <!-- New Comment Form RE Flabie posts -->
                  <h2>Post a Comment</h2>
                    <form id="commentForm" ng-submit="flabbie.addComment(flabbie.currentFlabbieProfile._id);flabbie.getFlabbieComments(comments)">
                      <div class="form-group">
                        <textarea class="form-control" rows="5" type="text" id="comments" ng-model="flabbie.commentedFlabbie.comments"></textarea><br>
                        <div class="modal-footer" id="fontB">
                          <button class="btn btn-warning" type="submit">Post</button>
                          <button type="button" class="btn text-white" style="background-color: #9E1B32" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div> <!-- tab-pane fade -->

                        <div class="tab-pane fade" id="flabbieEdit" role="tabpanel" aria-labelledby="flabieProfile-update-tab">
                            <h5 class="modal-title pt-3">FLABie: {{flabbie.currentFlabbieProfile.author}}</h5>
                            <div class="modal-body">
                              <!-- Edit Form -->
                              <h5>Do You Need To Edit Your Profile?</h5>
                              <div class="row">
                                <div class="col">
                                <form id="flabbieForm" ng-submit="flabbie.updateFlabbieProfile(flabbie.currentFlabbieProfile._id)" ng-click="flabbie.addForm.reset()">
                                  <div class="form-group row pt-3">
                                      <label for="email" class="col-sm-2 col-form-label">Email</label>
                                      <div class="col-sm-10">
                                        <input type="email" placeholder="{{flabbie.currentFlabbieProfile.email}}" ng-model="flabbie.editedFlabbieProfile.email" class="form-control" id="email">
                                      </div>
                                  </div>
                            <hr>
                                  <div class="form-group row">
                                      <label for="image" class="col-sm-2 col-form-label">Image</label>
                                      <div class="col-sm-10">
                                      <input type="text" placeholder="{{flabbie.currentFlabbieProfile.image}}"  ng-model="flabbie.editedFlabbieProfile.image" class="form-control" id="image">
                                      </div>
                                  </div>
                            <hr>
                                  <div class="form-group row">
                                      <label for="team" class="col-sm-2 col-form-label">Fave Team(s)</label>
                                      <div class="col-sm-10">
                                      <input type="text" placeholder="{{flabbie.currentFlabbieProfile.favoriteTeams}}" ng-model="flabbie.editedFlabbieProfile.favoriteTeams" class="form-control" id="team">
                                      </div>
                                  </div>
                            <hr>
                                  <div class="form-group row">
                                      <label for="fbeer" class="col-sm-2 col-form-label">Fave Beer(s)</label>
                                      <div class="col-sm-10">
                                        <input type="text" placeholder="{{flabbie.currentFlabbieProfile.favoriteBeers}}" ng-model="flabbie.editedFlabbieProfile.favoriteBeers"
                                        class="form-control" id="editedTeam">
                                        </div>
                                    </div>
                              <hr>
                                    <div class="form-group row">
                                        <label for="message" class="col-sm-2 col-form-label">Bio</label>
                                        <div class="col-sm-10">
                                        <textarea placeholder="{{flabbie.currentFlabbieProfile.bio}}" ng-model="flabbie.editedFlabbieProfile.bio" class="form-control" rows="5" id="editedFlabbieBIO">
                                        </textarea>
                                        </div>
                                    </div>
                              <hr>
                            </form>

                            <div class="collapse" id="deleteAlert">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <strong>Holy guacamole!</strong> Are you sure you want to delete your FLABie profile? Once deleted, this action cannot be reversed. If a FLABie profile is desired after the original one has been deleted, a new one will have to be recreated.<br>
                              <button class="btn btn-warning mt-3" type="button" data-toggle="collapse" data-target="#deleteAlert" ng-click="flabbie.deleteFlabbieProfile(flabbie.currentFlabbieProfile._id)"><span data-dismiss="modal">Confirm</span></button>
                            </div>
                            </div>
                    </div> <!-- col -->
                  </div> <!-- row -->
                            <div class="modal-footer mt-2">

                              <button class="btn text-white" style="background-color: #54494b" type="submit" data-dismiss="modal" ng-click="flabbie.updateFlabbieProfile(flabbie.currentFlabbieProfile._id); flabbie.toggleModal()">Update</button>
                              <button class="btn text-white" style="background-color: #333232" type="button" data-toggle="collapse" data-target="#deleteAlert">Remove Profile</button>
                              <button type="button" class="btn text-white" style="background-color: #9E1B32" data-dismiss="modal">Close</button>

                            </div> <!-- modal-footer -->
                      </div> <!-- modal body -->
                    </div> <!-- tab-pane fade -->
                  </div>  <!-- tab-content -->
                </div> <!-- modal-content -->
              </div>  <!-- modal-dialog modal-lg -->


                    </div> <!-- modal fade -->
                  </div> <!-- container -->
                </div> <!-- navbar-example -->
              </div> <!-- row bg-light -->
            </div> <!-- col jumbotron -->
          </div> <!-- row fontB -->
        </div> <!-- collapse -->
      </div>  <!-- flabbie-jumbotron -->
    </div>  <!-- end flabbie-container -->
  </body>
</section>  <!-- end FlabbieController -->
