<section ng-controller="FlabbieController as flabbie">
<body data-spy="scroll" data-target="#navbar-example">
  <div class="container mt-3 mb-3 pb-3 pt-3" id="flabbie-container">
    <!-- <div class="row"> -->

      <div class="jumbotron mt-3 pt-3 text-center" id="flabbie-jumbotron">

        <h1 id="fontB" class="pt-3">FLABies</h1>

        <h2 id="fontB" class="pb-3">The Ultimate Tribe of Humanity</h2>
        <!-- {{flabbie.hasBestPicks}} -->

        <!-- Create User Profile Button -->
        <div id="newitem-form" class="col-lg-12">
          <button class="btn mb-3" style="background-color:#FFC145" type="submit" ng-click="flabbie.toggleNew(); flabbie.addForm.reset()" id="fontB">Create FLABie Profile</button>

          <button class="btn mb-3" data-toggle="collapse" href="#seeFlabies" style="background-color:#FFC145" id="fontB">See FLABie Tribe</button>
        </div>

        <!-- Create User Profile Form -->
        <div ng-if="flabbie.newDisplay">
            <div class="container text-center" id="fontB">
              <h2 class="text-center">Already have a User Login? Great!<br> You're Ready to Create a FLABbie Profile!</h2>
                  <div class="row">
                    <div class="col jumbotron" id="newFlabbieProfile">
                          <form ng-submit="flabbie.createFlabbieProfile()" class="pb-3">
                            <small id="emailHelp" class="form-text text-white mx-auto">We'll never share your email with anyone else.
                            </small>
                            <div class="form-group row pt-3">
                                <label for="email" class="col-sm-2 col-form-label text-white">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" ng-model="flabbie.email" class="form-control" id="email" placeholder="FLABie Email">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="image" class="col-sm-2 col-form-label text-white">Image</label>
                                <div class="col-sm-10">
                                  <input type="text" ng-model="flabbie.image" class="form-control" id="image" placeholder="FLABie Profile Picture">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="team" class="col-sm-2 col-form-label text-white">Fave Team(s)</label>
                                <div class="col-sm-10">
                                  <input type="text" ng-model="flabbie.favoriteTeams" class="form-control" id="team" placeholder="Favorite Team(s)">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="fbeer" class="col-sm-2 col-form-label text-white">Fave Beer(s)</label>
                                <div class="col-sm-10">
                                  <input type="text" ng-model="flabbie.favoriteBeers" class="form-control" id="fbeer" placeholder="Favorite Beer(s)">
                                </div>
                            </div>
<hr>
                            <div class="form-group row">
                                <label for="message" class="col-sm-2 col-form-label text-white">Bio</label>
                                <div class="col-sm-10">
                                  <textarea ng-model="flabbie.bio" id="message" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
<hr>
                            <input class="btn" style="background-color:#FFC145" type="submit" value="Create Profile">
                          </form>
<!-- <hr> -->
<!-- add small quote div where random quotes on a specific topic (like domination or something snarky like that) are displayed w/animation/transition -->

                  </div> <!-- col-lg-8 jumbotron -->
              </div> <!-- row -->
          </div> <!-- container -->
        </div> <!-- end new display -->

        <!-- make this a jumbotron which shows cards w/limited profile info of all Flabbies which can expand for each Flabie when they are clicked on -->
        <div class="collapse" id="seeFlabies">
          <div id="fontB">
                <div class="row">
                  <div class="col jumbotron" id="allFlabies">
                    <h2 class="navbar sticky-top text-white" >The FLABie Tribe
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                    </form></h2>
                    <hr>
                    <h5 class="text-white">
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </h5>
<hr>
          <!-- All Flabbie Profiles -->
          <!-- <div class="row bg-light mr-2 ml-2 mt-3 pr-2 pl-2 pt-4 " id="display"> -->
          <div class="row bg-light pt-4 mr-2 ml-2" id="display">
            <div id="navbar-example">
              <div class="container">
<!-- <ul id="flabbie-list"> -->

                <div class="col">

                  <!-- <div class=" "> -->

                  <ul id="flabieCard">


                                <!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->

                                <li ng-repeat="flabbieProfile in flabbie.allFlabbieProfiles | filter:searchBox" ng-init="limit = 10" ng-click="flabbie.setCurrentFlabbieProfile(flabbieProfile._id)">
                                  <div class="card w-100 p-2">
<!-- id="flabbie-item" -->
                    <h4 class="card-header text-center text-white" style="background-color:#9E1B32;">{{flabbieProfile.author}}</h4>
                    <img class="card-img-top" ng-src="{{flabbieProfile.image}}">
                    <div class="card-body">
                      <div class="card-title"><strong>FLABie's Fave Team(s): </strong>  {{flabbieProfile.favoriteTeams}}<br></div>
                        <p class="card-text"><strong>FLABie Bio:</strong>  {{flabbieProfile.bio}}</p>
                    </div>

                    <div class="card-footer text-muted">
                      <button ng-click="flabbie.toggleModal()" class="btn btn-warning">
                        Learn More</button>
                    </div>
                    </div>
                  </li><br>

                  </ul>

              </div>

            </div>
              </div>


              </div>



            <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <h4 class="card-header text-center" style="background-color:#533747;">Varaison Vineyards & Winery</h4>
                    <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="">
                    <div class="card-body">
                      <div class="card-title">New Product #2</div>
                        <p class="card-text">best product eve!!! Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <h4 class="card-header text-center" style="background-color:#533747;">Carlson Vineyards Winery</h4>
                    <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="">
                    <div class="card-body">
                      <div class="card-title">New Product #3</div>
                        <p class="card-text">best product eve!!! Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div> -->
            <!-- </div> -->
        <!-- </div>  -->
        <!-- end row -->
</div></div>






              <!-- this searchbox filter probably should go in the jumbotron area -->
              <!-- <li ng-repeat="flabbieProfile in flabbie.allFlabbieProfiles | filter:searchBox" ng-init="limit = 10" ng-click="flabbie.setCurrentFlabbieProfile(flabbieProfile._id)">
                <div class="col-md-4" id="flabbie-item">
                  <button ng-click="flabbie.toggleModal()" class="btn btn-warning postButton" id="flabbie-button" >
                    <! perhaps have very small profile pic? -->
                  <!-- <img src="./assets/football-24-102853.png"
                  alt="FLAB"><br>  {{flabbieProfile.author}}</button>
                </div>
              </li><br>
            </ul> -->

          </div>
          </div><!-- end row -->
          <br><br>
        </div>

      </div>  <!-- end flabbie-jumbotron -->
    </div>
    </div>




    <!-- Flabbie Modal -->

    <div ng-if="flabbie.modal" id"flabbieModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" ng-click="flabbie.toggleModal()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h3 class="modal-title">FLABie Name:
               {{flabbie.currentFlabbieProfile.author}}
            </h3>


          </div>  <!-- end modal header -->

          <!-- Tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link-active" href="#originalFlabbieProfile" data-toggle="tab" role="tab">FLABie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#flabbieComment" data-toggle="tab" role="tab">Comments</a>
            </li>
            <li class="nav-item" id="flabItem">
              <a class="nav-link" href="#flabbieEdit" data-toggle="tab" role="tab">Edit</a>
            </li>
          </ul>

          <div class="modal-body">

            <div class="tab-content">
              <!-- originalFlabbieProfile Tab (1) Content -->
              <div class="tab-pane active" id="originalFlabbieProfile" role="tabpanel">

              <ul>

                <li><img class="img-fluid" ng-src="{{flabbie.currentFlabbieProfile.image}}"><br></li>

                <li> <strong>FLABie Bio: </strong>  {{flabbie.currentFlabbieProfile.bio}}<br></li>

                <li> <strong>FLABie's Fave Team(s): </strong>  {{flabbie.currentFlabbieProfile.favoriteTeams}}<br></li>

                <li> <strong>FLABie Fave Beer(s): </strong>  {{flabbie.currentFlabbieProfile.favoriteBeers}}<br></li>



              </ul>
            </div>


            <!-- Tab 1 Content -->
            <div class="tab-pane fade" id="flabbieComment" role="tabpanel">
              <!--  All Comments -->
              <ul id="comment-list">
                <li ng-repeat="comments in flabbie.currentFlabbieProfile.comments track by $index">
                  <div id="comment-item">
                    <p>{{comments}}</p>
                      <!-- add who authored the comment: -->


                  </div>
                </li>
              </ul>
              <hr>
              <!-- New Comment Form RE BeerPosts -->
              <h2>Post a Comment</h2>
              <form id="commentForm" ng-submit="flabbie.addComment(flabbie.currentFlabbieProfile._id); flabbie.toggleModal()">


            <div class="form-group">
              <textarea class="form-control" type="text" id="comments" ng-model="flabbie.commentedFlabbie.comments"></textarea><br>
              <button class="btn btn-warning" type="submit">Confirm</button>
            </div>

          </form>

          </div>

            <!-- Tab 2 Content -->
            <div class="tab-pane fade" id="flabbieEdit" role="tabpanel">
            <!-- Edit Form -->
            <h2>Do You Need To Edit Your Profile?</h2>

            <form id="flabbieForm" ng-submit="flabbie.updateFlabbieProfile(flabbie.currentFlabbieProfile._id)" ng-click="flabbie.addForm.reset()">

              <h5>FLABie Email: </h5><input type="text" placeholder="{{flabbie.currentFlabbieProfile.email}}" ng-model="flabbie.editedFlabbieProfile.email">

              <h5>FLABie Profile Picture: </h5><input type="text" placeholder="{{flabbie.currentFlabbieProfile.image}}"  ng-model="flabbie.editedFlabbieProfile.image">

              <h5>FLABie Bio: </h5><input type="text" placeholder="{{flabbie.currentFlabbieProfile.bio}}" ng-model="flabbie.editedFlabbieProfile.bio">

              <h5>Fave Team(s): </h5><input type="text" placeholder="{{flabbie.currentFlabbieProfile.favoriteTeams}}" ng-model="flabbie.editedFlabbieProfile.favoriteTeams">

              <h5>Fave Beer(s): </h5><input type="text" placeholder="{{flabbie.currentFlabbieProfile.favoriteBeers}}" ng-model="flabbie.editedFlabbieProfile.favoriteBeers">

            </form>

            <button class="btn btn-warning" type="submit" ng-click="flabbie.updateFlabbieProfile(flabbie.currentFlabbieProfile._id); flabbie.toggleModal()">Update</button>
            <button class="btn btn-warning" ng-click="flabbie.deleteFlabbieProfile(flabbie.currentFlabbieProfile._id)">Remove Profile</button>

              </div>  <!-- end tab two -->
            </div>  <!-- end tab content -->

          </div>  <!-- end modal body -->
        </div>  <!-- end modal content -->
      </div>  <!-- end modal dialog -->
    </div>   <!-- end flabbieModal -->








  </div>  <!-- end flabbie-container -->
</body>
</section>  <!-- end FlabbieController -->
