<section ng-controller="FootballController as football">
<body data-spy="scroll" data-target="#football-example">
  <div class="container mt-3 mb-3 pb-3 pt-3" id="football-container">
      <div class="jumbotron mt-3 pt-3 text-center"  id="football-jumbotron">
        <img id="footballSpinner" class="pt-3 mt-3" src="./assets/football-152-102853.png" alt="FLAB-football"><br>
        <h1 id="fontB" class="pt-2 text-light">Pigskin Slapstick</h1>
        <!-- use the brain cells.. come up w/a better tagline -->
        <h2 id="fontB" class="pb-2 text-light">Who's the Best?</h2><br>
        <!-- {{football.obsession}} -->

        <div class="alert alert-dismissible fade show w-75 mx-auto"  role="alert" ng-if=!user.loggedIn id="football-alert">
          <div class="alert-heading">
            <h4 class="alert-title text-white pt-2 text-left" id="fontB">Guard the Yard!
            <button type="button" class="close d-inline" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button></h4>
          </div>
          <hr>
            <p id="fontB" class="text-white">Log in to see what FLABies are saying about the latest in college football!</p>
        </div>

        <!-- Create Football Post Button -->
        <div id="newitem-form" class="col-lg-12" ng-if=user.loggedIn>
          <button class="btn text-light mb-3" id="fontB" style="background-color:#A60A32" type="submit" ng-click="football.toggleNew(); football.addForm.reset()">Add Football Post</button>

          <button class="btn text-light mb-3" data-toggle="collapse" href="#seeFootballPosts" style="background-color:#A60A32" id="fontB">See Football Posts</button>
        </div>

      <!-- Add New Football Post Form -->
        <div ng-if="football.newDisplay">
          <div class="container text-center" id="fontB">
            <h3 class="text-white">Ready to stake a claim about your fave team, player, &/or coach?<br>Share your take on how football doesn’t build character, it eliminates the weak ones!</h3>
                <div class="row">
                  <div class="col jumbotron" id="newFootballPost">
                    <form ng-submit="football.createFootballPost()" class="pb-3">
                      <div class="form-group row">
                          <label for="title" class="col-sm-2 col-form-label text-white">Title</label>
                          <div class="col-sm-10">
                            <input type="text" ng-model="football.postTitle" class="form-control" id="title" placeholder="Post Title">
                          </div>
                      </div>
            <hr>
                      <div class="form-group row">
                          <label for="football-tag" class="col-sm-2 col-form-label text-white">Tag(s)</label>
                          <div class="col-sm-10">
                            <input type="text" ng-model="football.tag" class="form-control" id="football-tag" placeholder="Tag(s)">
                          </div>
                      </div>
            <hr>
                      <div class="form-group row">
                          <label for="football-url" class="col-sm-2 col-form-label text-white">URL</label>
                          <div class="col-sm-10">
                            <input type="text" ng-model="football.url" class="form-control" id="football-url" placeholder="If applicable, share URL">
                          </div>
                      </div>
            <hr>
                      <div class="form-group row">
                          <label for="post" class="col-sm-2 col-form-label text-white">Post</label>
                          <div class="col-sm-10">
                            <textarea ng-model="football.fbPost" id="message" rows="5" class="form-control"></textarea>
                          </div>
                      </div>
            <hr>
                      <input class="btn text-light" ng-click="football.toggleNew;flabbie.addForm.reset()" style="background-color:#FFC145" type="submit" value="Post">
                    </form>

        </div> <!-- newFootballPost -->
      </div>  <!-- row -->
    </div>  <!-- container text-center -->
  </div>  <!-- football.newDisplay -->

    <!-- Football Modal -->
    <div class="collapse" id="seeFootballPosts">
            <div class="row" id="fontB">
              <div class="col jumbotron" id="allFootballPosts">
                <h2 class="navbar sticky-top text-white">Football Posts
                  <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchBox">
                      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                  </form></h2>
                  <hr>
                  <h5 class="text-white">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </h5>
<hr>

        <!-- All Football Posts -->
        <div class="row bg-light mx-auto pt-3" id="display">
          <div id="football-example">
            <div class="container" id="fix">
              <div class="col">
                <ul id="ftBallPostCard">
                  <div class="card-group">
          <!-- <ul id="football-list"> -->

            <li ng-repeat="footballPost in football.allFootballPosts | filter:searchBox" ng-init="limit = 10" ng-click="football.setCurrentFootballPost(footballPost._id)">

              <div class="card w-100">
                <h4 class="card-header text-center text-white" style="background-color:#9E1B32;">{{footballPost.postTitle}}</h4>
                <p class="card-text pt-2"><strong>Tag(s):</strong> {{footballPost.tag}}</p>
                <a href="{{footballPost.url}}" type="button" target="_blank" class="btn btn-outline-warning btn-sm">Linked Resource</a>
                <p class="card-text pt-2"><strong>Posted by:</strong> {{footballPost.author}}</p>
                <div class="card-footer" style="background-color:#9E1B32">
                      <button type="button" class="btn text-white" data-toggle="modal" data-target="#seeAllOfFootballPost" style="background-color:#FFC145" id="fontB">
                        See Post</button>
                    </div>
                  </div>
                </li><br>
              </div>
            </ul>
          </div> <!-- col -->

          <div class="modal fade" id="seeAllOfFootballPost" tabindex="-1" role="dialog" aria-labelledby="footballPostLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header pb-0">
                <h5 class="modal-title" id="footballPostLongTitle">
                  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                      <li class="nav-item"><a class="nav-link active text-dark" id="footballPost-home-tab" data-toggle="tab" href="#footballPostTabHome" role="tab" aria-controls="footballPostTabHome" aria-selected="true">Post</a></li>

                      <li class="nav-item"><a class="nav-link text-danger" id="footballPost-comment-tab" data-toggle="tab" href="#footballPostComment" role="tab" aria-controls="footballPostComment">Comment(s)</a></li>

                      <li id="footballItem" class="nav-item"><a class="nav-link text-danger" id="footballPost-update-tab" data-toggle="tab" href="#footballPostEdit" role="tab" aria-controls="footballPostEdit">Update Post</a></li>
                  </ul></h5>
              </div>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="footballPostTabHome" role="tabpanel" aria-labelledby="footballPost-home-tab">
                  <h5 class="modal-title pt-3">Post Title: {{football.currentFootballPost.postTitle}}</h5>
                  <div class="modal-body mr-5">
                    <ul>
                      <li><strong>Posted by FLABie:</strong> {{football.currentFootballPost.author}}</li>
                      <li><strong>Football Tag(s):</strong> {{football.currentFootballPost.tag}}</li>
                      <li><span><strong>Read More Here:</strong>
                        <a href="{{football.currentFootballPost.url}}" target="_blank"> {{football.currentFootballPost.url}}</a></span></li>
                      <li><strong>Football Podium Chatter:</strong> {{football.currentFootballPost.fbPost}}</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn text-white" style="background-color: #9E1B32" id="fontB" data-dismiss="modal">Close</button>
                  </div>
                </div>  <!-- tab-pane fade show active -->
              <!-- </div>   -->
              <!-- tab-content -->

              <div class="tab-pane fade" id="footballPostComment" role="tabpanel" aria-labelledby="footballPost-comment-tab">
                  <h5 class="modal-title pt-3">Post Title: {{football.currentFootballPost.postTitle}}</h5>
                  <div class="modal-body">
                    <ul id="comment-list">
                      <li ng-repeat="comments in football.currentFootballPost.comments track by $index">
                        <!-- this function need to be written in app.js & then added to the li above to get comments rendering in html w/post is clicked?
                        ng-click="football.setCurrentFootballPost(footballPost._id) -->
                        <div id="comment-item">
                          <p>{{comments}}</p>
                          <!-- <p>{{football.commentedFootball.comments}}</p> -->
                        </div>  <!-- comment-item -->
                      </li>
                    </ul>

                    <!-- New Comment Form RE Flabie posts -->
                    <h2>Post a Comment</h2>
                      <form id="commentsForm" ng-submit="football.addComment(football.currentFootballPost._id);football.getFootballPostComments(comments)">
                        <div class="form-group">
                          <textarea class="form-control" rows="5" type="text" id="ftballComments" ng-model="football.commentedFootball.comments"></textarea><br>
                        </div>

                          <div class="modal-footer" id="fontB">
                            <button class="btn btn-warning" type="submit">Post</button>
                            <button type="button" class="btn text-white" style="background-color: #9E1B32" data-dismiss="modal">Close</button>
                          </div>
                        <!-- </div> -->
                      </form>
                    </div>
                </div> <!-- tab-pane fade -->

                <div class="tab-pane fade" id="footballPostEdit" role="tabpanel" aria-labelledby="footballPost-update-tab">
                    <h5 class="modal-title pt-3">Post: {{football.currentFootballPost.postTitle}}</h5>
                    <div class="modal-body">
                      <!-- Edit Form -->
                      <h5>Wanna edit your post?</h5>
                      <div class="row">
                        <div class="col">
                        <form id="footballPostForm" ng-submit="football.updateFootballPost(football.currentFootballPost._id)" ng-click="football.addForm.reset()">
                          <div class="form-group row pt-3">
                              <label for="title" class="col-sm-2 col-form-label">Title</label>
                              <div class="col-sm-10">
                                <input type="text" placeholder="{{football.currentFootballPost.postTitle}}" ng-model="football.editedFootballPost.postTitle" class="form-control" id="text">
                              </div>
                          </div>
                    <hr>
                          <div class="form-group row pt-3">
                              <label for="football-tag" class="col-sm-2 col-form-label">Tag(s)</label>
                              <div class="col-sm-10">
                                <input type="text" placeholder="{{football.currentFootballPost.tag}}" ng-model="football.editedFootballPost.tag" class="form-control" id="tag">
                              </div>
                          </div>
                    <hr>
                    <hr>
                          <div class="form-group row pt-3">
                              <label for="football-url" class="col-sm-2 col-form-label">URL</label>
                              <div class="col-sm-10">
                                <input type="text" placeholder="{{football.currentFootballPost.url}}" ng-model="football.editedFootballPost.url" class="form-control" id="url">
                              </div>
                          </div>
                    <hr>
                          <div class="form-group row">
                              <label for="message" class="col-sm-2 col-form-label">Post</label>
                              <div class="col-sm-10">
                              <textarea placeholder="{{football.currentFootballPost.fbPost}}" ng-model="football.editedFootballPost.fbPost" class="form-control" rows="5" id="editedFootballPost">
                              </textarea>
                              </div>
                          </div>
                  <hr>
                      </form>

                      <div class="collapse" id="deleteFtballAlert">
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Red 24! Red 24!</strong> Deleting a post is an action that cannot be reversed.<br>
                        <button class="btn btn-warning mt-3" type="button" data-toggle="collapse" data-target="#deleteFtballAlert" ng-click="football.deleteFootballPost(football.currentFootballPost._id)"><span data-dismiss="modal">Confirm</span></button>
                      </div>
                      </div>
                  </div> <!-- col -->
                </div> <!-- row -->
                      <div class="modal-footer mt-2">

                        <button class="btn text-white" style="background-color: #54494b" type="submit" data-dismiss="modal" ng-click="football.updateFootballPost(football.currentFootballPost._id); football.toggleModal()">Update</button>
                        <button class="btn text-white" style="background-color: #333232" type="button" data-toggle="collapse" data-target="#deleteFtballAlert">Delete Post</button>
                        <button type="button" class="btn text-white" style="background-color: #9E1B32" data-dismiss="modal">Close</button>

                      </div> <!-- modal-footer -->
                    </div>  <!-- end modal body -->
                  </div> <!-- tab-pane fade footballPostEdit tabpanel -->
                </div> <!-- tab-content myTabContent -->
              </div>  <!-- modal-content -->
            </div> <!-- modal-dialog modal-lg -->
          </div>  <!-- modal fade -->


      </div> <!-- container -->
    </div> <!-- football-example -->
  </div> <!-- row bg-light mx-auto pt-3 -->
</div> <!-- col jumbotron -->
</div> <!-- row fontB -->
</div> <!-- collapse seeFootballPosts -->
</div> <!-- football-jumbotron -->
</div> <!-- football-container -->
</body>
</section>  <!-- end FlabbieController -->
