<div ng-controller="FootballController as football">

  <div class="container" id="football-container">
    <div class="row">

      <div class="jumbotron" id="football-jumbotron">
        <img id="footballSpinner" src="./assets/football-152-102853.png" alt="FLAB"><br>
        <h1>Pigskin Slapstick</h1>
        <!-- use the brain cells.. come up w/a better tagline -->
        <h2>Who's the Best?</h2><br>

        <!-- {{football.obsession}} -->

        <!-- Add Football Post Button -->
        <div id="newitem-form" class="col-lg-12">
          <button class="btn btn-warning" type="submit" ng-click="football.toggleNew(); football.addForm.reset()">Add Football Post</button>
        </div>

<br><br>
      <!-- Add New Football Post Form -->
        <div ng-if="football.newDisplay">

          <form ng-submit="football.createFootballPost()">

              <h5>Post Title:</h5><input type="text" ng-model="football.postTitle" placeholder="Post Title"/><br>

              <h5>Football Podium Chatter:</h5><input type="textarea" ng-model="football.fbPost" placeholder="Football Post"/><br>

              <h5>Football Tag(s):</h5><input type="text"
              ng-model="football.tag" placeholder="Tag(s)"/><br>

                <!-- create "link" text for a tag -->
              <h5>If applicable, share URL:</h5><input type="text" ng.model="football.url" placeholder="URL"/><br>
              <br>
              <input class="btn btn-warning" type="submit" value="Post">

          </form>

        </div> <!-- end new display -->

      </div>  <!-- end football-jumbotron -->

    </div> <!-- end row -->

    <!-- Football Modal -->

    <div ng-if="football.modal" id"footballModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" ng-click="football.toggleModal()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h3 class="modal-title">{{football.currentFootballPost.postTitle}}</h3>
          </div> <!-- end modal-header -->

          <div class="modal-body">

            <div id="footballPostInfo">
              <ul ng-click="football.toggleModal()">

                <!-- add author via user logged in -->
                <li> <strong>Posted by FLABie: </strong> {{football.currentFootballPost.author}}</li>

                <li> <strong>Football Podium Chatter:</strong> {{football.currentFootballPost.fbPost}}</li>

                <li> <strong>Football Tag(s):</strong> {{football.currentFootballPost.tag}}</li>

                <li> <span> <strong>Read More Here:</strong>
                  <a href="{{football.currentFootballPost.url}}" target="_blank"> {{football.currentFootballPost.url}}</a></span></li>

              </ul>
            </div>
            <!-- Tabs -->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link-active" href="#footballComment" data-toggle="tab" role="tab">Comments</a>
              </li>
              <li class="nav-item" id="footballItem">
                <a class="nav-link" href="#footballEdit" data-toggle="tab" role="tab">Edit</a>
              </li>
            </ul>

            <div class="tab-content">
              <!-- Tab 1 Content -->
              <div class="tab-pane fade in show active" id="footballComment" role="tabpanel">
                <!-- add footballComment form -->
                <!-- user will have ability to post comments as reply to football posts here -->
              </div>

              <!-- Tab 2 Content -->
              <div class="tab-pane fade" id="footballEdit" role="tabpanel">
              <!-- Edit Form -->
              <h2>Wanna Update Your Post?</h2>

              <form id="footballForm"
              ng-submit="football.updateFootballPost(football.currentFootballPost._id)" ng-click="football.addForm.reset()">

              <!-- add <p> for each input w/title for user to know what they are updating -->

              <!-- use bootstrap formatting for input groups for better user experience -->

                <input type="text" placeholder="{{football.currentFootballPost.postTitle}}"
                ng-model="football.editedFootballPost.postTitle">

                <input type="textarea" placeholder="{{football.currentFootballPost.fbPost}}"
                ng-model="football.editedFootballPost.fbPost">

                <input type="text"
                placeholder="{{football.currentFootballPost.tag}}"
                ng-model="football.editedFootballPost.tag">

                <input type="text" placeholder="{{football.currentFootballPost.url}}"
                ng-model="football.editedFootballPost.url">

              </form>

              <button class="btn btn-warning" type="submit" ng-click="football.updateFootballPost(football.currentFootballPost._id); football.toggleModal()">Update</button>

              <button class="btn btn-warning" ng-click="football.deleteFootballPost(football.currentFootballPost._id)">Remove Post</button>

              </div>  <!-- end tab two -->
            </div>  <!-- end tab content -->

          </div>  <!-- end modal body -->

        </div>  <!-- end modal content -->
      </div>  <!-- end modal dialog -->
    </div>  <!-- end footballModal -->

    <!-- All Football Posts -->
    <div class="row" id="display">
      <ul id="football-list">
        <!-- this searchbox filter probably should go in the jumbotron area -->
        <li ng-repeat="footballPost in football.allFootballPosts | filter:searchBox" ng-init="limit = 28" ng-click="football.setCurrentFootballPost(footballPost._id)">
          <div class="col-md-4" id="football-item">
            <button class="btn btn-warning postButton" id="football-button" ng-click="football.toggleModal()">
            <img src="./assets/football-24-102853.png"
            alt="FLAB"><br>  {{footballPost.postTitle}}</button>

            <!-- add comment glyphicon when functionality is fleshed out -->
          </div>

        </li><br>

      </ul>
<br>
    </div>

<br><br>


</div>  <!-- end football-container -->

</div>  <!-- end footballController -->
