<!--   Navbar Section -->
<div ng-controller="FlabController as flab">
  <!-- <nav class="navbar navbar-default navbar-inverse  navbar-fixed-top"> -->
  <nav class="navbar navbar-light bg-primary fixed-top navbar-expand-sm">
    <!-- navbar-expand-sm -->
  <div class="container">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topnav"><span class="navbar-toggler-icon"></span></button>

    <a class="navbar-brand pt-4 text-left ml-auto" ng-hide=user.loggedIn href="#aboutModal" ng-click="flab.toggleModal()"  style="color: #f2a41f">
    { FLAB }</a>

        <div class="collapse navbar-collapse" id="topnav">
          <ul class="nav navbar-nav">
<!-- ml-auto -->

            <li class="nav-item dropdown">
              <a href="#" ng-if=user.loggedIn class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #f2a41f;"><i class="fa fa-user-o" aria-hidden="true">  </i>      {{user.loginUsername}}
              </a>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#flabbie" style="color: #f2a41f;">Create Profile</a>

                <a class="dropdown-item" href="#flabbie" style="color: #f2a41f;">Update Profile</a>

                <a class="dropdown-item" href="#flabbie" style="color: #f2a41f;">Delete Profile</a>
              </div>
            </li>

            <li class="nav-item dropdown">

                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #f2a41f;">Menu</a>

                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#football" style="color: #f2a41f;">FOOTBALL</a>
                  <a class="dropdown-item" href="#beer" style="color: #f2a41f;">BEER</a>
                  <a class="dropdown-item" href="#smack" style="color: #f2a41f;">SMACK</a>
                  <a class="dropdown-item" href="#flabbie" style="color: #f2a41f;">FLABbies</a>
                  <a class="dropdown-item" href="#contact" style="color: #f2a41f;">Contact FLAB HQ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#about" style="color: #f2a41f;">About</a>
                </div>
              </li>
          <!-- <ul class="dropdown-menu nav"> -->


            <li ng-if=!user.loggedIn ng-click="user.goToLogin()" ng-click="user.addForm.reset()" class="nav-item text-right mr-auto"><a href="#" class="nav-link">LOGIN</a></li>

            <li ng-if=user.loggedIn ng-click="user.logOut()" class="nav-item text-right mr-auto"><a href="#" style="color:#f2a41f;" class="nav-link">LOGOUT</a></li>

            <li ng-if=!user.loggedIn ng-click="user.goToRegister()" class="nav-item text-right mr-auto"><a href="#" style="color:#f2a41f;" class="nav-link">REGISTER</a></li>

         </ul>   <!-- nav navbar-nav navbar-right -->
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- about modal -->
<div ng-if="flab.aboutModal" id="aboutModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

    <button type="button" ng-click="flab.toggleModal()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3 class="modal-title">About FLAB</h>
    </div> <!-- end modal-header -->

    <div class="modal-body">
      ...Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
</div>

</div>
