<section ng-controller="SmackController as smack">
<body data-spy="scroll" data-target="#smack-example">
  <div class="container mt-3 mb-3 pb-3 pt-3" id="smack-container">
      <div class="jumbotron mt-3 pt-3 text-center" id="smack-jumbotron">
        <!-- <img id="smackDizzy" src="./assets/FINDANIMAGEFORTHISSECTION" alt="FLAB"><br> -->
        <img id="smackDizzy" class="pt-3 mt-3" src="./assets/talking_mouth.gif" alt="FLAB-smack"><br>
        <h1 id="fontB" class="pt-2" style="color:#333232">Cuz.. A**holes Smack.. Right?</h1>
        <!-- use smack brain & come up with smackalicious tagline -->
        <h2 id="fontB" class="pt-2" style="color:#333232">Ready for a little Roast??</h2><br>
        <!-- {{smack.rivalry}} -->

        <!-- visitor alert to prompt user to login to have access to smack section -->
        <div class="alert alert-dismissible fade show w-75 mx-auto"  role="alert" ng-if=!user.loggedIn id="smack-alert" style="background-color:RGBA(84,73,75,0.70)">
          <div class="alert-heading">
            <h4 class="alert-title text-white pt-2 text-left" id="fontB">Watch Your Mouth!
            <button type="button" class="close d-inline" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button></h4>
          </div>
          <hr>
            <p id="fontB" class="text-white">Log in to see the smack that is flying and... maybe throw down some of your own (before washing out your mouth with soap)!</p>
        </div>

        <!-- Add Smack Post Button -->
        <div id="newitem-form" class="col-lg-12" ng-if=user.loggedIn>
          <button class="btn mb-3 text-light" style="background-color:#54494B" id="fontB" type="submit" ng-click="smack.toggleNew(); smack.addForm.reset()">Post Some Smack</button>

          <button class="btn mb-3 text-light" data-toggle="collapse" href="#seeSmack" style="background-color:#54494B" id="fontB">See the Smack</button>
        </div>


      <!-- Add New Smack Post Form -->
      <div ng-if="smack.newDisplay">
        <div class="container text-center" id="fontB">
          <h3 class="text-white">Sometimes commentary on the state of affairs on planet earth is done best w/a little levity... in sheep's clothing.<br>A little roasting is good for the soul!</h3>
              <div class="row">
                <div class="col jumbotron" id="newSmackPost">
                  <form ng-submit="smack.createSmackPost()" class="pb-3">
                    <div class="form-group row">
                      <label for="title" class="col-sm-2 col-form-label text-white">Title</label>
                      <div class="col-sm-10">
                        <input type="text"
                        ng-model="smack.smackTitle" class="form-control" id="smackTitle" placeholder="Give Your Smack A Name">
                      </div>
                  </div>
        <hr>
                  <div class="form-group row">
                      <label for="smack-tag" class="col-sm-2 col-form-label text-white">Tag(s)</label>
                      <div class="col-sm-10">
                        <input type="text" ng-model="smack.tag" class="form-control" id="smack-tag" placeholder="Tag the Smack">
                      </div>
                  </div>
        <hr>
                  <div class="form-group row">
                      <label for="smack-url" class="col-sm-2 col-form-label text-white">Image</label>
                      <div class="col-sm-10">
                        <input type="text" ng-model="smack.img" class="form-control" id="smack-img" placeholder="Sometimes Smack Needs to be Visual">
                      </div>
                  </div>
          <hr>
                  <div class="form-group row">
                      <label for="smack-url" class="col-sm-2 col-form-label text-white">URL</label>
                      <div class="col-sm-10">
                        <input type="text" ng-model="smack.url" class="form-control" id="smack-url" placeholder="If applicable, share URL">
                      </div>
                  </div>
        <hr>
                  <div class="form-group row">
                      <label for="post" class="col-sm-2 col-form-label text-white">Post</label>
                      <div class="col-sm-10">
                        <textarea ng-model="smack.smackdown" id="message" rows="5" class="form-control"></textarea>
                      </div>
                  </div>
          <hr>
                <input class="btn text-light" ng-click="smack.toggleNew;smack.addForm.reset()" style="background-color:#FFC145" type="submit" value="Post">
        </form>
      </div> <!-- col jumbotron newSmackPost -->
    </div>   <!-- row -->
  </div> <!-- container text-center -->
</div>  <!-- smack.newDisplay -->


    <div class="collapse" id="seeSmack">
            <div class="row" id="fontB">
              <div class="col jumbotron" id="allSmack">
                <h2 class="navbar sticky-top text-white">All THE Smack
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchBox">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form></h2>
                <hr>
                <h5 class="text-white">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </h5>
    <hr>
        <!-- Get ALL the Smack -->
        <div class="row bg-light mx-auto pt-3" id="display">
          <div id="smack-example">
            <div class="container" id="fix">
              <div class="col">
                <ul id="smackPostCard">
                  <div class="card-group">
                    <li ng-repeat="smackPost in smack.allSmackPosts | filter:searchBox" ng-init="limit = 10" ng-click="smack.setCurrentSmackPost(smackPost._id)">
                      <div class="card w-100">
                        <h4 class="card-header text-center text-white" style="background-color:#9E1B32;">{{smackPost.smackTitle}}</h4>
                        <img class="card-img-top img-fluid" ng-src="{{smackPost.img}}">

                        <p class="card-text pt-3"><strong> Smack Tag(s): </strong>{{smackPost.tag}}</p>
                        <div class="card-footer" style="background-color:#9E1B32">
                        <button type="button" class="btn mt-3 mb-3" data-toggle="modal" data-target="#seeEntireSmackPost" style="background-color:#FFC145" id="fontB">
                          See Post</button>
                        </div> <!-- card-footer -->
                      </div> <!-- card w-100 -->
                    </li><br>
                    </div>
                  </ul>
                </div> <!-- col -->

                <div class="modal fade" id="seeEntireSmackPost" tabindex="-1" role="dialog" aria-labelledby="smackPostLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header pb-0">
                      <h5 class="modal-title" id="smackPostLongTitle">
                        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                          <li class="nav-item"><a class="nav-link active text-dark" id="smackPost-home-tab" data-toggle="tab" href="#smackPostTabHome" role="tab" aria-controls="smackPostTabHome" aria-selected="true">Post</a></li>

                          <li class="nav-item"><a class="nav-link text-danger" id="smackPost-comment-tab" data-toggle="tab" href="#smackPostComment" role="tab" aria-controls="smackPostComment">Comment(s)</a></li>

                          <li id="smackItem" class="nav-item"><a class="nav-link text-danger" id="smackPost-update-tab" data-toggle="tab" href="#smackPostEdit" role="tab" aria-controls="smackPostEdit">Update Post</a></li>
                      </ul></h5>
                  </div>

                  <div class="tab-content" id="smackTabContent">
                    <div class="tab-pane fade show active" id="smackPostTabHome" role="tabpanel" aria-labelledby="smackPost-home-tab">
                      <h5 class="modal-title pt-3"><smack><strong>Post Title:</strong></smack> {{smack.currentSmackPost.smackTitle}}</h5>
                      <div class="modal-body mr-5">
                        <ul>
                          <li><strong>Posted by:</strong> {{smack.currentSmackPost.author}}</li>

                          <li><strong> Smack Tag(s): </strong>{{smack.currentSmackPost.tag}}</li>

                          <li><strong> Read More Here: </strong><a href="{{smack.currentSmackPost.url}}" target="_blank" class="w-75">{{smack.currentSmackPost.url}}</a></li>

                          <li class="text-wrap" style="overflow:scroll"><strong> The Smack: </strong>{{smack.currentSmackPost.smackdown}}</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn text-white" style="background-color: #9E1B32" id="fontB" data-dismiss="modal">Close</button>
                      </div>
                    </div>  <!-- tab-pane fade show active -->

                    <div class="tab-pane fade" id="smackPostComment" role="tabpanel" aria-labelledby="smackPost-comment-tab">
                        <h5 class="modal-title pt-3"><smack><strong>Post Title:</strong></smack> {{smack.currentSmackPost.smackTitle}}</h5>
                        <div class="modal-body">
                          <ul id="comment-list">
                            <li ng-repeat="comments in smack.currentSmackPost.comments track by $index">
                              <div id="comment-item">
                                <p>{{comments}}</p>
                              </div>  <!-- comment-item -->
                            </li>
                          </ul>
                        </div>

                        <!-- New Comment Form RE smack posts -->
                        <h2>Post a Comment</h2>
                          <form id="smackCommentsForm" ng-submit="smack.addComment(smack.currentSmackPost._id);smack.getSmackPostComments(comments)">
                            <div class="form-group">
                              <textarea class="form-control" rows="5" type="text" id="smackComments" ng-model="smack.commentedSmack.comments"></textarea><br>
                            </div>

                              <div class="modal-footer" id="fontB">
                                <button class="btn btn-warning" type="submit">Post</button>
                                <button type="button" class="btn text-white" style="background-color: #9E1B32" data-dismiss="modal">Close</button>
                              </div>
                            <!-- </div> -->
                          </form>
                        </div>  <!-- tab-pane fade show -->

                        <div class="tab-pane fade" id="smackPostEdit" role="tabpanel" aria-labelledby="smackPost-update-tab">
                            <h5 class="modal-title pt-3">Post: {{smack.currentSmackPost.smackTitle}}</h5>
                            <div class="modal-body">
                              <!-- Edit Form -->
                              <h5>Wanna edit your post?</h5>
                              <div class="row">
                                <div class="col">
                                  <form id="smackPostForm" ng-submit="smack.updateSmackPost(smack.currentSmackPost._id)" ng-click="smack.addForm.reset()">
                                    <div class="form-group row pt-3">
                                        <label for="smackTitle" class="col-sm-2 col-form-label">Title</label>
                                        <div class="col-sm-10">
                                          <input type="text" placeholder="{{smack.currentSmackPost.smackTitle}}" ng-model="smack.editedSmackPost.smackTitle" class="form-control" id="smackTitle">
                                        </div>
                                    </div>
                              <hr>
                                  <div class="form-group row pt-3">
                                      <label for="smackTag" class="col-sm-2 col-form-label">Tag(s)</label>
                                      <div class="col-sm-10">
                                        <input type="text" placeholder="{{smack.currentSmackPost.tag}}" ng-model="smack.editedSmackPost.tag" class="form-control" id="smackTag">
                                      </div>
                                  </div>
                            <hr>
                                  <div class="form-group row pt-3">
                                      <label for="smackImg" class="col-sm-2 col-form-label">Image</label>
                                      <div class="col-sm-10">
                                        <input type="text" placeholder="{{smack.currentSmackPost.img}}" ng-model="smack.editedSmackPost.img" class="form-control" id="smackImg">
                                      </div>
                                  </div>
                            <hr>
                                  <div class="form-group row pt-3">
                                      <label for="smackUrl" class="col-sm-2 col-form-label">URL</label>
                                      <div class="col-sm-10">
                                        <input type="text" placeholder="{{smack.currentSmackPost.url}}" ng-model="smack.editedSmackPost.url" class="form-control" id="smackUrl">
                                      </div>
                                  </div>
                            <hr>
                                  <div class="form-group row pt-3">
                                      <label for="smackdownUpdate" class="col-sm-2 col-form-label">Post</label>
                                      <div class="col-sm-10">
                                        <textarea placeholder="{{smack.currentSmackPost.smackdown}}" ng-model="smack.editedSmackPost.smackdown" class="form-control" id="smackdownUpdate" rows="5">
                                        </textarea>
                                      </div>
                                  </div>
                            <hr>
                          </form>

                          <div class="collapse" id="deleteSmackAlert">
                              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Hold on a sec... It's OK if you disagree w/me.  I can't force you be be right.</strong> Deleting a post is an action that cannot be reversed.  I don't want to seem like I think I'm right, but I am and that's why it comes across that way.<br>
                                <button class="btn btn-warning mt-3" type="button" data-toggle="collapse" data-target="#deleteSmackAlert" ng-click="smack.deleteSmackPost(smack.currentSmackPost._id)"><span data-dismiss="modal">Confirm</span></button>
                              </div>
                          </div>
                        </div> <!-- col -->
                      </div> <!-- row -->
                      <div class="modal-footer mt-2">

                        <button class="btn text-white" style="background-color: #54494b" type="submit" data-dismiss="modal" ng-click="smack.updateSmackPost(smack.currentSmackPost._id); smack.toggleModal()">Update</button>
                        <button class="btn text-white" style="background-color: #333232" type="button" data-toggle="collapse" data-target="#deleteSmackAlert">Delete Post</button>
                        <button type="button" class="btn text-white" style="background-color: #9E1B32" data-dismiss="modal">Close</button>

                      </div> <!-- modal-footer -->
                    </div>  <!-- end modal body -->
                  </div>  <!-- tab-pane fade -->
                </div> <!-- tab-content myTabContent -->
              </div>  <!-- modal-content -->
            </div> <!-- modal-dialog modal-lg -->
          </div>  <!-- modal fade -->
        </div> <!-- container -->
      </div> <!-- smack-example -->
    </div> <!-- row bg-light mx-auto pt-3 -->
  </div> <!-- col jumbotron -->
  </div> <!-- row fontB -->
  </div> <!-- collapse seeFootballPosts -->
  </div> <!-- smack-jumbotron -->
</div>  <!-- end smack-container -->
</body>
</section>  <!-- end smackController -->
