<div ng-controller="SmackController as smack">

  <div class="container" id="smack-container">
    <div class="row">

      <div class="jumbotron" id="smack-jumbotron">
        <!-- <img id="smackDizzy" src="./assets/FINDANIMAGEFORTHISSECTION" alt="FLAB"><br> -->
        <h1>Cuz.. A**holes Smack.. Right?</h1>
        <!-- use smack brain & come up with smackalicious tagline -->
        <h2>Ready for a little Roast??</h2><br>

        <!-- {{smack.rivalry}} -->

        <!-- Add Smack Post Button -->
        <div id="newitem-form" class="col-lg-12">
          <button class="btn btn-warning" type="submit" ng-click="smack.toggleNew(); smack.addForm.reset()">Post Some Smack</button>
        </div>

<br><br>
      <!-- Add New Smack Post Form -->
      <div ng-if="smack.newDisplay">

        <form ng-submit="smack.createSmackPost()">

          <h5>Smack Title:</h5><input type="text"
          ng-model="smack.smackTitle" placeholder="Give Your Smack A Name"/><br>

          <!-- add author via user logged in -->

          <h5>Smack Image:</h5><input type="text"
          ng-model="smack.img" placeholder="Sometimes Smack Needs to be Visual" /><br>

          <h5>The Smack:</h5><input type="text"
          ng-model="smack.smackdown" placeholder="All the Smack" /><br>

          <h5>Tag(s):</h5><input type="text"
          ng-model="smack.tag" placeholder="Tag the Smack" /><br>
          <br>

          <input class="btn btn-warning" type="submit" value="Post">
        </form>

      </div> <!-- end new display -->
    </div>   <!-- end smack-jumbotron -->
</div> <!-- end row -->

    <!-- Smack Modal -->

    <div ng-if="smack.modal" id="smackModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" ng-click="smack.toggleModal()"class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h3 class="modal-title">{{smack.currentSmackPost.smackTitle}} Post</h3>
          </div> <!-- end modal-header -->

          <div class="modal-body">
            <h3 class="modal-title">{{smack.currentSmackPost.smackTitle}} Post</h3>

            <div id="smackPostInfo">
              <ul ng-click="smack.toggleModal()">

                  <li><img ng-src="{{smack.currentSmackPost.img}}"/><br/></li>
                  <li><strong> The Smack: </strong>{{smack.currentSmackPost.smackdown}}</li>
                  <li><strong> Smack Tag(s): </strong>{{smack.currentSmackPost.tag}}</li>

                  <!-- update this when user model is fleshed out: -->
                  <!-- <li><strong> Posted by: </strong>{{smack.currentSmackPost.author}}</li> -->

              </ul>
            </div>

          <!-- Tabs -->



          </div>  <!-- end modal body -->
      </div>
    </div>
  </div>   <!-- end smackModal -->



<br><br>

</div>  <!-- end smack-container -->

</div>  <!-- end smackController -->
